target
.exercism
.lein-failures
.lein-repl-history
*.beam
.idea
build
.gradle
*.iml
*.ipr
.keep/
*.jar
*.pyc

node_modules/

clojure/clojure/

kotlin/kotlin/

bin/

.clj-kondo/
.lsp/
**/.nrepl-port
.calva/
obj/
bin/

